<div class="cont-gen">
  <div class="cont-btn">
    <button class="btn-danger btn ml-5" (click)="goBack()">← Go Back</button>
    <app-singout></app-singout>
    </div>
    <div class="cont-info">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Entity Id</th>
            <th scope="col">Name <a class="btn-a" (click)="orderDes('name');">↓</a> <a class="btn-a" (click)="orderAs('name');">↑</a></th>
            <th scope="col">I Number</th>
            <th scope="col">Expiration Date <a class="btn-a" (click)="orderDes('expirationDate');">↓</a> <a class="btn-a" (click)="orderAs('expirationDate');">↑</a></th>
            <th scope="col">Contact Name</th>
            <th scope="col">Contact Mail</th>
            <th scope="col">IP Address</th>
            <th scope="col">Logo</th>
            <th scope="col">Actions (Only FrontEnd)</th>
          </tr>
        </thead>
        <tbody *ngIf="!showSpinner">
          <tr *ngFor="let dat of data, index as i">
            <th>{{dat.entityId}}</th>
            <td>{{dat.name}}</td>
            <td>{{dat.identificationNumber}}</td>
            <td>{{dat.expirationDate}}</td>
            <td>{{dat.contactName}}</td>
            <td>{{dat.contactMail}}</td>
            <td>{{dat.ipAddress | null}}</td>
            <td>{{dat.logo | null}}</td>
            <td><button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" (click)="edit(dat.entityId)">Edit</button>
              <button class="btn btn-danger" (click)="delete(dat.entityId)">Delete</button></td>
        </tr>
        </tbody>
      </table>
      <app-spinner *ngIf="showSpinner"></app-spinner>
    </div>
</div>




<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Edit
  </button> -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          <form action="" [formGroup]="editForm">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Name: </span>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Identification Number: </span>
                <input type="text" class="form-control" formControlName="identificationNumber">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Expiration Date: </span>
                <input type="date"  class="form-control" formControlName="expirationDate">

            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Contact Name: </span>
                <input type="text"  class="form-control" formControlName="contactName">

            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Contact Mail: </span>
                <input type="text"  class="form-control" formControlName="contactMail">

            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">IP Address: </span>
                <input type="text" class="form-control"  formControlName="ipAddress">

            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Logo: </span>
                <input type="text" class="form-control"  formControlName="logo">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-button">Cancel</button>
          <button type="button" class="btn btn-success" (click)="saveEdit();">Save changes</button>
        </div>
      </div>
    </div>
  </div>