.cont-gen{
    width: 100%;
    height: 100%;
    display: flex;
    
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cont-info{
    max-width: 1200px;
    margin: 0 auto;
}
.btn-a{
    text-decoration: none;
    color: white;
    background-color: rgb(168, 168, 168);
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s all ease-in-out;
}
.btn-a:hover{
    background-color: rgb(100, 100, 100);
}
.cont-btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}