<div class="cont-gen">
    <div class="cont-2" >
        <div class="cont-img" id="img">
            <div class="cont"> .</div>
        </div>
        <div class="cont-form">
            <form action="" [formGroup]="welcomeForm">
                <label for="">Please Give me ur Name :D</label>
                <input type="text" class="form-control" formControlName="name">
                <button type="submit" class="btn btn-primary mt-3" (click)="submit()">Go!</button>
            </form>
        </div>
    </div>
</div>