.cont-gen{
    width: 100%;
    height: 100%;
    display: flex;
align-items: center;
}
.cont-2{
    display: flex;
    align-items: center;
    max-width: 800px;
    height: 400px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    margin: 0 auto;
    flex: 1 1 auto;
    overflow: hidden;
}
#img{
    width: 100%;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/imgs/login.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
img{
    width: 100%;
    margin: auto 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cont-form{
    width: 100%;
    margin: 0 30px;
}
.cont{
    height: 100vh;
    color: rgba(red, green, blue, 0.1);
}