.checkbox{
    width:20px;
height:20px;
margin-left: 20px;
}
.cont-gen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cont-info{
    width: 500px;
    margin: 0 auto;
}
.btn-success{
    float: right;
    
}