

<div class="cont-gen">
  <app-singout></app-singout>
  <div class="cont-info">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          
          <th scope="col">Add to view</th>
        </tr>
      </thead>
      <tbody *ngIf="!showSpinner">
        <tr *ngFor="let dat of data, index as i">
          <th>{{dat.entityId}}</th>
          <td>{{dat.contactName}}</td>
          
          <td><input type="checkbox" class="checkbox" (click)="addInfo(dat.entityId)"></td>
        </tr>
      </tbody>
    </table>
    <app-spinner *ngIf="showSpinner"></app-spinner>
  <button class="btn btn-success" (click)="continue()">View</button>
  </div>
</div>



